CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
CMakeScripts
cmake_install.cmake*
config.h
Debug
debug
*.dir
install_manifest.txt
ipch
Makefile*
moc_*
QMACustom.pri
QtMMDAI*
release
Release
UpgradeLog*.XML
_UpgradeReport_Files
vpvl_*
Win32
*.a
*.build
*-build-desktop
*.cbp
*.dll*
*.dylib
*.idb
*.ncb
*.pdb
*.qm
*.o
*.opensdf
*.pc
*.pro.user*
*.sdf
*.sln
*.suo
*.so*
*.vcproj*
*.vcxproj*
*.xcodeproj

