alure-*
AppData
assimp-*
build-*
bullet-*
Cg
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
CMakeScripts
cmake_install.cmake*
config.h
*.dir
*.diff
glog-*
glew-*
gli-*
glm-*
gmock-*
gtest-*
hts_engine_API-*
icu-*
install_manifest.txt
ipch
julius-*
libav-*
libjpeg-*
libpng-*
libxml2-*
Makefile*
mesa-*
moc_*
mojoshader-*
nacl
nvtt-*
open_jtalk-*
openal-soft-*
portaudio-src
SDLMain.*
SDL-*
SDL_image-*
test-build-*
UpgradeLog*.XML
_UpgradeReport_Files
Win32
zlib-*
*.a
*.build
*-*-desktop*
*.cbp
*.dll*
*.dylib*
*.idb
*.ncb
*.pdb
*.o
*.opensdf
*.pc
*.pro.user*
*.sdf
*.sln
*.suo
*.so*
*.vcproj*
*.vcxproj*
*.xcodeproj

