alure-*
allegro-*
AntTweakBar-*
AppData
assimp-*
build-*
bullet-*
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
CMakeScripts
cmake_install.cmake*
config.h
*.dir
*.diff
glog-*
glew-*
glfw-*
gli-*
glm-*
gmock-*
glyph
gtest-*
gwen-*
hlslxc-*
hts_engine_API-*
icu4c-*
install_manifest.txt
ipch
julius-*
libav-*
libjpeg-*
libpng-*
libxml2-*
Makefile*
mesa-*
moc_*
mojoshader-*
nvFX-*
nvtt-*
open_jtalk-*
openal-soft-*
portaudio-src
regal-*
SDLMain.*
SDL2-*
SDL_image-*
tbb-*
tinyxml2-*
UpgradeLog*.XML
_UpgradeReport_Files
Win32
zlib-*
*.a
*.build
*-*-desktop*
*.cbp
*.dll*
*.dylib*
*.idb
*.ncb
*.pdb
*.o
*.opensdf
*.pc
*.pro.user*
*.sdf
*.sln
*.suo
*.so*
*.vcproj*
*.vcxproj*
*.xcodeproj

