<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
     <key>NSHumanReadableCopyright</key>
     <string>(C) 2010-2011 hkrn</string>
     <key>CFBundleIconFile</key>
     <string>@ICON@</string>
     <key>CFBundlePackageType</key>
     <string>APPL</string>
     <key>CFBundleSignature</key>
     <string>@TYPEINFO@</string>
     <key>CFBundleExecutable</key>
     <string>@EXECUTABLE@</string>
     <key>CFBundleIdentifier</key>
     <string>com.github.mmdai</string>
     <key>CFBundleVersion</key>
     <string>0.3.0</string>
     <key>CFBundleShortVersionString</key>
     <string>0.3.0</string>
     <key>CFBundleGetInfoString</key>
     <string>MMDAI2 is an application to edit VMD motion</string>
     <key>LSArchitecturePriority</key>
     <array>
       <string>x86_64</string>
       <string>i386</string>
     </array>
     <key>LSMinimumSystemVersionByArchitecture</key>
     <dict>
       <key>x86_64</key>
       <string>10.6</string>
     </dict>
  </dict>
</plist>

