<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>fst</string>
        </array>
        <key>CFBundleTypeIcon</key>
        <string>@ICON@</string>
        <key>CFBundleTypeName</key>
        <string>MMDAgent Finite State Transition File</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>TEXT</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mdf</string>
        </array>
        <key>CFBundleTypeIcon</key>
        <string>@ICON@</string>
        <key>CFBundleTypeName</key>
        <string>MMDAgent Definition File</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>TEXT</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
    </array>
     <key>NSHumanReadableCopyright</key>
     <string>(C) 2010-2011 hkrn</string>
     <key>CFBundleIconFile</key>
     <string>@ICON@</string>
     <key>CFBundlePackageType</key>
     <string>APPL</string>
     <key>CFBundleSignature</key>
     <string>@TYPEINFO@</string>
     <key>CFBundleExecutable</key>
     <string>@EXECUTABLE@</string>
     <key>CFBundleIdentifier</key>
     <string>com.github.hkrn.mmdai</string>
     <key>CFBundleVersion</key>
     <string>2.0</string>
     <key>CFBundleShortVersionString</key>
     <string>2.0</string>
     <key>CFBundleGetInfoString</key>
     <string>MMDAI is an application to interact MMD models with voice forked from MMDAgent</string>
     <key>LSArchitecturePriority</key>
     <array>
       <string>x86_64</string>
       <string>i386</string>
     </array>
     <key>LSMinimumSystemVersionByArchitecture</key>
     <dict>
       <key>x86_64</key>
       <string>10.6</string>
     </dict>
  </dict>
</plist>

