; * 実行バイナリと同じディレクトリに config.ini として配置する
; * ";" または "#" はコメント行として無視される
; 以下 ";" がついている設定は省略可能であり、値はデフォルト値となっている

;
; 読み込むモデルを指定。Qt の QSettings の配列形式に準拠。size に読み込むモデル数を指定。
; models/1/path, models/2/path のように真ん中に添字を入れる。添字は 1 からはじまる。
; モデル毎にエッジ幅と物理有無設定を変更出来る。デフォルト値はそれぞれ 1.0 と true である。
;
models/size = 2
models/1/path = /path/to/foo.pmd
models/1/edge.width = 1.0
models/1/enable.physics = true
models/2/path = /path/to/bar.pmx
models/2/edge.width = 1.0
models/2/enable.physics = true

;
; 読み込むアクセサリまたはエフェクトを指定。説明は上の読み込むモデルの指定と同じ
;
assets/size = 2
assets/1/path = /path/to/foo.x
assets/2/path = /path/to/bar.x

; 各種ファイルを読み込むのディレクトリ
dir.motion = ./res
dir.camera = ./res

; 読み込むファイル名 (ディレクトリ名は付けない)
file.motion = motion.vmd
file.camera = camera.vmd

; トゥーンテクスチャ、シェーダ及びカーネルのソースがあるディレクトリ先
; dir.system.toon = ../../QMA2/resources/images
; dir.system.kernels = ../../QMA2/resources/kernels
; dir.system.shaders = ../../QMA2/resources/shaders

; ウィンドウの幅
; window.width = 640

; ウィンドウの高さ
; window.height = 480

; デフォルトの FPS
; scene.fps = 30

; scene.znear = 1.0
; scene.zfar = 10000.0

; トゥーンの有効化 (PMD/PMX のみ)
; enable.toon = true

; ソフトシャドウの有効化
; enable.ss = true

; セルフシャドウの有効化
; enable.sm = false

; OpenCL の有効化
; enable.opencl = false

; 頂点シェーダスキニングの有効化
; enable.vss = false

; エッジ幅の設定 (PMDのみ)
; edge.width = 1.0

