; * 実行バイナリと同じディレクトリに config.ini として配置する
; * ";" または "#" はコメント行として無視される
; 以下 ";" がついている設定は省略可能であり、値はデフォルト値となっている

; 各種ファイルを読み込むのディレクトリ
dir.model = ./res/lat
dir.motion = ./res
dir.camera = ./res
dir.asset = ./res

; 読み込むファイル名 (ディレクトリ名は付けない)
file.model = miku.pmx
file.motion = motion.vmd
file.camera = camera.vmd
file.asset = stage.x

; トゥーンテクスチャ、シェーダ及びカーネルのソースがあるディレクトリ先
; dir.system.toon = ../../QMA2/resources/images
; dir.system.kernels = ../../QMA2/resources/kernels
; dir.system.shaders = ../../QMA2/resources/shaders

; ウィンドウの幅
; window.width = 640

; ウィンドウの高さ
; window.height = 480

; デフォルトの FPS
; scene.fps = 30

; scene.znear = 1.0
; scene.zfar = 10000.0

; トゥーンの有効化 (PMD/PMX のみ)
; enable.toon = true

; ソフトシャドウの有効化
; enable.ss = true

; セルフシャドウの有効化
; enable.sm = false

; OpenCL の有効化
; enable.opencl = false

; 頂点シェーダスキニングの有効化
; enable.vss = false

; エッジ幅の設定 (PMDのみ)
; edge.width = 1.0

